In [2]:
import pandas as pd
import numpy as np
from scipy import stats
from pandas import DataFrame,Series

# SET-1

# Q1

In [7]:
Q1 = pd.DataFrame([24.23,
25.53,
25.41,
24.14,
29.62,
28.25,
25.81,
24.39,
40.26,
32.95,
91.36,
25.99,
39.42,
26.71,
35.00], columns=['vals'])
Q1

     vals
0   24.23
1   25.53
2   25.41
3   24.14
4   29.62
5   28.25
6   25.81
7   24.39
8   40.26
9   32.95
10  91.36
11  25.99
12  39.42
13  26.71
14  35.00

In [8]:
Q1.mean()

vals    33.271333
dtype: float64

In [9]:
Q1.var()

vals    287.146612
dtype: float64

In [10]:
Q1.std()

vals    16.945401
dtype: float64

# SET-2

# Q1

In [11]:
1-stats.norm.cdf(60,55,8)

0.26598552904870054

# Q2a

In [4]:
mean = 38
std1 = 6 
q2_lessthan_38 = stats.norm.cdf(38, loc = mean, scale = std1)
q2_lessthan_38

0.5

In [5]:
q2_less_than_44 = stats.norm.cdf(44, loc = mean, scale = std1)
q2_less_than_44

0.8413447460685429

In [7]:
q2_betweeen_38_and_44 = q2_less_than_44 - q2_lessthan_38 
q2_betweeen_38_and_44

0.3413447460685429

In [14]:
print('The probability of employee age between 38 and 44 is',np.round(q2_betweeen_38_and_44*100,2),'%')

The probability of employee age between 38 and 44 is 34.13 %

In [15]:
q2_morethan_44 = 1-stats.norm.cdf(44, loc = mean, scale = std1)
q2_morethan_44

0.15865525393145707

In [16]:
 print('The probability of employee age more than 44 is',np.round(q2_morethan_44*100,2),'%')

The probability of employee age more than 44 is 15.87 %

In [17]:
true_or_false = (q2_morethan_44 > q2_betweeen_38_and_44)
print('Answer:',true_or_false)

Answer: False

# Q2b

In [28]:
mean=38
std1=6
q2b = stats.norm.cdf(30, loc = mean, scale = std1)*100
print('A training program for employees under the age of 30 at the center would be expected to attract about',np.round((q2b*400)/100,0),'employees')

A training program for employees under the age of 30 at the center would be expected to attract about 36.0 employees

# Q4

In [30]:
stats.norm.interval(0.99, loc = 100, scale = 20)

(48.48341392902199, 151.516586070978)

# SET-3

# Q5

In [31]:
p_hat = .046
p = .05
n = 2000

# z_score = p_hat-p/(p(1-p)/n)**0.5
z_score = (p_hat-p)/(np.sqrt((p*(1-p))/n))
z_score

p_value = stats.norm.sf(0.821)
p_value

0.20582313410777142

# SET-4